In [1]:
import anndata as ad 
adata_atac = ad.read_h5ad('../output/scATAC/adata_atac.h5ad')
adata_rna = ad.read_h5ad('../output/scRNA/adata_rna.h5ad')

In [23]:
adata_atac # obs -> cells , vars: peaks

AnnData object with n_obs × n_vars = 25551 × 135418
    obs: 'obs_id', 'cell_type', 'donor_id'
    uns: 'cell_type_colors', 'donor_id_colors', 'neighbors', 'obs', 'pca', 'umap'
    obsm: 'X_pca', 'X_umap'
    varm: 'PCs'
    layers: 'x_norm'
    obsp: 'connectivities', 'distances'

In [19]:
# count data
adata_atac.X

<25551x135418 sparse matrix of type '<class 'numpy.float32'>'
	with 173485202 stored elements in Compressed Sparse Row format>

In [3]:
adata_atac.obs

                 obs_id      cell_type donor_id
0      000225c1151ab841        B cells  donor_0
1      0003c40a54367871       agg_type  donor_2
2      0004bf574b822c3c       agg_type  donor_2
3      000d59b5478f28e2        B cells  donor_0
4      0011b7473923d7b5       NK cells  donor_2
...                 ...            ...      ...
25546  fff2ca1f64c10339       agg_type  donor_0
25547  fff87e64f509b570       agg_type  donor_0
25548  fff9778b31bc2539  Myeloid cells  donor_2
25549  fffa92f71d2440de       NK cells  donor_1
25550  ffffeba9dbf2bab1       agg_type  donor_1

[25551 rows x 3 columns]

In [6]:
adata_atac.var

Empty DataFrame
Columns: []
Index: [GL000194.1:100992-101876, GL000194.1:104344-105163, GL000194.1:110741-111545, GL000194.1:114513-115368, GL000194.1:27939-28826, GL000194.1:55749-56580, GL000194.1:58219-58991, GL000194.1:59583-60481, GL000194.1:67194-67888, GL000194.1:69334-70130, GL000194.1:77502-78272, GL000195.1:120717-121604, GL000195.1:130492-131321, GL000195.1:133162-133948, GL000195.1:137371-138263, GL000195.1:23829-24696, GL000195.1:24875-25725, GL000195.1:30373-31270, GL000195.1:32173-32998, GL000195.1:68243-69157, GL000195.1:71150-71916, GL000205.2:140315-141167, GL000205.2:145155-145942, GL000205.2:44048-44798, GL000205.2:50489-51142, GL000205.2:63071-63962, GL000205.2:67764-68676, GL000205.2:69054-69844, GL000205.2:78249-79016, GL000205.2:87634-88238, GL000205.2:88651-89487, GL000218.1:83286-84182, GL000218.1:96881-97778, GL000219.1:125024-125894, GL000219.1:132791-133702, GL000219.1:39930-40829, GL000219.1:42170-43063, GL000219.1:44814-45626, GL000219.1:45763-46396, GL000219.1:50675-51565, GL000219.1:88679-89438, GL000219.1:90080-90981, GL000219.1:92285-93094, GL000219.1:99252-100166, KI270711.1:22610-23489, KI270711.1:23890-24709, KI270711.1:7910-8736, KI270713.1:21464-22377, KI270713.1:27714-28535, KI270713.1:29650-30500, KI270713.1:36928-37830, KI270713.1:3945-4846, KI270721.1:2090-2982, KI270726.1:27145-28042, KI270726.1:41490-42340, KI270727.1:52076-52953, KI270728.1:1791253-1791935, KI270728.1:1792050-1792568, KI270728.1:232269-233168, KI270731.1:4505-5401, chr10:100001032-100001800, chr10:100006075-100006963, chr10:100009475-100010367, chr10:100013993-100014884, chr10:100020278-100021136, chr10:100021391-100022053, chr10:100044265-100044963, chr10:100045779-100046687, chr10:100148427-100149279, chr10:100167454-100168276, chr10:100181966-100182658, chr10:100183159-100184053, chr10:100185622-100186542, chr10:100192100-100192967, chr10:100204154-100205049, chr10:100229082-100229931, chr10:100240510-100241389, chr10:100252830-100253542, chr10:100253912-100254808, chr10:100256741-100257658, chr10:100267238-100268104, chr10:100282689-100283588, chr10:100286187-100287039, chr10:100291042-100291871, chr10:100292166-100292904, chr10:100303445-100304337, chr10:100326682-100327594, chr10:100338220-100339055, chr10:100339340-100339978, chr10:100342111-100343006, chr10:100346599-100347467, chr10:100364678-100365545, chr10:100370705-100371655, chr10:100373089-100373883, chr10:100377552-100378475, chr10:100415597-100416393, chr10:100419611-100420485, chr10:100433504-100434405, chr10:100448730-100449622, chr10:100481287-100482128, ...]

[135418 rows x 0 columns]

In [24]:
adata_rna # obs -> cells , vars: genes

AnnData object with n_obs × n_vars = 25551 × 22787
    obs: 'cell_type', 'donor_id', 'n_genes', 'louvain'
    var: 'n_cells'
    uns: 'cell_type_colors', 'diffmap_evals', 'donor_id_colors', 'draw_graph', 'louvain', 'louvain_colors', 'louvain_sizes', 'neighbors', 'obs', 'paga', 'pca', 'rank_genes_groups', 'umap'
    obsm: 'X_diffmap', 'X_draw_graph_fr', 'X_pca', 'X_umap'
    varm: 'PCs'
    layers: 'counts', 'x_norm'
    obsp: 'connectivities', 'distances'

In [21]:
# count data
adata_rna.X
# normalized count data
# adata_rna.layers['counts']

<25551x22787 sparse matrix of type '<class 'numpy.float64'>'
	with 42766166 stored elements in Compressed Sparse Row format>

In [2]:
(adata_rna.X==0).sum()

/root/anaconda3/envs/py10/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3508: SparseEfficiencyWarning: Comparing a sparse matrix with 0 using == is inefficient, try using != instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

539464471

In [4]:
adata_rna.X.size

42766166

In [8]:
adata_rna.obs

                      cell_type donor_id  n_genes
obs_id
000225c1151ab841        B cells  donor_0     1076
0003c40a54367871       agg_type  donor_2     1175
0004bf574b822c3c       agg_type  donor_2      842
000d59b5478f28e2        B cells  donor_0     1156
0011b7473923d7b5       NK cells  donor_2     1953
...                         ...      ...      ...
fff2ca1f64c10339       agg_type  donor_0     1339
fff87e64f509b570       agg_type  donor_0     1068
fff9778b31bc2539  Myeloid cells  donor_2     2758
fffa92f71d2440de       NK cells  donor_1     1898
ffffeba9dbf2bab1       agg_type  donor_1     1555

[25551 rows x 3 columns]

In [9]:
adata_rna.var

          n_cells
location
A1BG         1500
A1BG-AS1     1268
A2M          4264
A2M-AS1      1682
A2ML1          97
...           ...
ZXDC         6808
ZYG11A         78
ZYG11B       3910
ZYX          4313
ZZEF1        7853

[22787 rows x 1 columns]