# task-perturb-multiomics-grn
## Creating resources
### by Jalil Nourisa

# Multiomics

In [1]:
import anndata as ad
import pandas as pd

data_dir = '../output/'

resource_dir = '../resources/'

In [27]:
adata_rna = ad.read_h5ad(f'{data_dir}/scRNA/adata_rna_new.h5ad')
adata_atac = ad.read_h5ad(f'{data_dir}/scATAC/adata_atac.h5ad')

c:\Users\nourisa\Anaconda3\envs\py310\lib\site-packages\anndata\_core\anndata.py:117: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [28]:
adata_atac.obs = adata_atac.obs[['obs_id']]
adata_atac.obs = adata_atac.obs.set_index('obs_id')

In [29]:
adata_rna.var['feature_type'] = 'GEX'
adata_atac.var['feature_type'] = 'ATAC'

In [30]:
mask = adata_atac.obs.index.isin(adata_rna.obs.index) # keep only those cells that are shared 
adata_atac = adata_atac[mask,:]

In [31]:
adata = ad.concat([adata_rna, adata_atac], axis=1)
adata

AnnData object with n_obs × n_vars = 25034 × 158136
    var: 'feature_type'

In [32]:
adata.obs = pd.merge(adata_rna.obs, adata_atac.obs, left_index=True, right_index=True, how='outer')

In [33]:
adata.obs

                      cell_type donor_id
obs_id
000225c1151ab841        B cells  donor_0
0003c40a54367871        T cells  donor_2
0004bf574b822c3c        T cells  donor_2
000d59b5478f28e2        B cells  donor_0
0011b7473923d7b5        T cells  donor_2
...                         ...      ...
fff2ca1f64c10339        T cells  donor_0
fff87e64f509b570        T cells  donor_0
fff9778b31bc2539  Myeloid cells  donor_2
fffa92f71d2440de        T cells  donor_1
ffffeba9dbf2bab1        T cells  donor_1

[25034 rows x 2 columns]

In [34]:
adata.write(f'{resource_dir}/multiomics.h5ad')

In [41]:
adata_atac.obs = adata.obs

In [42]:
adata_atac.write_h5ad(f'{data_dir}/scATAC/adata_atac.h5ad')